@{
    ViewBag.Title = "Home Page";
}


    <h1></h1>
<style>
    .font-style {
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        color: #000000;
        font-size:40px;
        font-weight:100;
        padding:  0px;

       
    }
     .font-weight{
         font-weight:100;
                    }
    
</style>
<style>
    hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
</style>
 
<div class="row">
    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Hybrids in the Country"><img src="~/Images/home1.jpg"  /></div>
    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Jeep in the Country"><img src="~/Images/large1.jpg"  /></div>
    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Vehice in the Country"><img src="~/Images/large3.jpg" /></div>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="font-style, font-weight, font-size">CARS as low as $9,000.00</p>
        <p>
            We have the best Pre-owned cars in the City with our affordable prices startig from  $9,000.00 .<br />
            @*<img src="~/Images/homeA.jpg"   alt="Toyota Yaris"  height="200" width="350" />*@
            <p>
        </p>     
   <p><a class="btn btn-info" @Html.ActionLink("View our Sedans Line", "Toyota")</a></p>
    </div>

    <div class="col-md-4">
        <b><p class="font-style, font-weight">HYBRIDS as low as $11,000.00</p></b>
        <p>
         We have the best Pre-owned Vans in the City with our affordable prices startig from  $11,000.00<br />
        @*<@*img src="~/Images/homeB.jpg"     alt="honda"  height="200" width="350"/><br /><br /><br />*@           
        <p><a class="btn btn-info"  @Html.ActionLink("View our Hybrid Line", "vans")</a></p>
       </div>

       <div class="col-md-4">
       <b><p class="font-style, font-weight">SUV's as low as $15,000.00</p></b>
       <p>
         We have the best Pre-owned Jeeps in the City with our affordable prices startig from  $10,000.00<br />
            @*<img src="~/Images/homeC.jpg"   height="200" width="350"/>*@
       <p>
       </p>
       <p><a class="btn btn-info" @Html.ActionLink("View our SUV Line", "SUV")</a></p>
       </div>
 <hr>
    <CENTER><p><h1>Welcome</h1></p><h3>PreOwned268</h3></CENTER>
       <Center>We Strive to offer the best Pre-Owned vehicles on the Island.<a @Html.ActionLink("Contact us", "Contact", null, new { title="Contact us for details on the best Preowned vehicles in Country" })</a> for details on our Hybrid, SUV and Sedan Lines</Center><br /><br /><br/>
<br/ >
<h4>View Our Range</h4>
    <p></p>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">View our Sedans Line</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Sedans in the Country"><img src="~/Images/car11.jpg" />S Classs</div>
                    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Sedans in the Country"><img src="~/Images/car22.jpg" />SE Series</div>
                    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Sedans in the Country"><img src="~/Images/car33.jpg" />SR Class</div>
                    <div class="col-md-4" data-toggle="tooltip" title="We offer the best PreOwned Sedans in the Country"><img src="~/Images/car44.jpg" />FS Class</div>
                </div
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">View our Hybrid Line</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">View our SUV Line</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
               
            </div>
        </div>
    </div>
</div>
